.switch-view(ng-show="roles.length>1" style='margin-left:70px')
  md-button.md-fab.md-primary(ng-click='change(currentRole)')
    md-tooltip(md-direction='right') Switch View
    md-icon.mdi.mdi-account-switch
