html(ng-app='HR')
  head
    title HR
    // $location service used by AngularJS
    base(href="http://#{base}/")
    // Viewport mobile tag for sensible mobile support
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

    // STYLES
    link(rel="stylesheet", href="/styles/angular-material.css")
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet", href="/styles/layout.css")
    link(rel="stylesheet", href="/styles/materialdesignicons.css")
    link(rel="stylesheet", href="/styles/styles.css")
    link(rel="stylesheet", href="/styles/hr/schedule/schedule.css")
    link(rel="stylesheet", href="/styles/hr/team/team.css")
    link(rel="stylesheet", href="/styles/common/showAlert/showAlert.css")
    // STYLES END
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic')

    //- script to get user session data passed by server from 'api/services/View.js'
    script.
      var data = !{JSON.stringify(user)}
      window.userSession = data
      //- console.log(data)

    //- include the google charts API
    script(type='text/javascript', src='https://www.google.com/jsapi')


  body(layout='column', ng-controller='HrCtrl' style='overflow:hidden; z-index:0;')
    div(ng-show="cover", style="position:fixed;width:100%;height:100%;background-color:white;z-index:100;")
      md-progress-circular(md-mode="indeterminate")
    md-toolbar(layout='row')
      .md-toolbar-tools

        div(flex='80' layout='row')
          //- md-button(ng-click ="toast1()") caching button1
          //- md-button(ng-click ="toast2()") button2

          h1 Performance Management System
          i.mdi.mdi-chevron-right

          h1 {{routes}}

        div(flex='20' layout='row')
          md-menu(md-position-mode="target-right target")
            md-button.md-icon-button(ng-click='showNotifs(0)')
              md-icon.mdi.mdi-account-plus
          md-menu(md-position-mode='target-right target')
            md-button.md-icon-button(ng-click='showNotifs(1)')
              md-icon.mdi.mdi-calendar-plus
          md-menu(md-position-mode="target-right target")
            md-button.md-icon-button(aria-label='Open phone interactions menu', ng-click='$mdOpenMenu($event)')
              md-icon.mdi.mdi-account(style="font-size:30px;", md-menu-origin)
            md-menu-content(width='2')
              md-menu-item
                md-button(ng-click='logout()')
                  i.mdi.mdi-logout(style="font-size:24px;vertical-align:middle;")
                  | Logout

          md-icon.mdi.mdi-apps

    div(layout='row')
      md-sidenav.md-whiteframe-z2( md-component-id='left', md-is-locked-open="$mdMedia('gt-sm')", md-theme="default" style='width:100px; z-index:0;')
        md-content(style='height:94%', layout="column")
          md-content.sidenav-header(layout-padding style='padding-left:20px')
            div(style="height:100px;")
              img.img-circle(src='{{userSession.photo}}')

            .md-title {{userSession.firstname + " " + userSession.lastname}}
            .md-subhead {{userSession.email}}

          md-list(flex='60')
            md-subheader.md-no-sticket Menu
            md-divider
            md-list-item(flex ng-click="redirect('/')")
              //- i.mdi.mdi-24px.mdi-forum(style="padding-right:10px;")
              md-icon(class='mdi mdi-calendar')
              p Evaluation Schedules

              md-divider
            md-list-item(flex ng-click="redirect('/teams')")
              md-icon(class='mdi mdi-account-multiple')
              p Teams
              md-divider

            md-list-item(flex ng-click="redirect('/employee')")
              md-icon(class='mdi mdi-account')
              p Employee
              md-divider
            md-list-item(flex ng-click="redirect('/form')")
              md-icon(class='mdi mdi-file-document')
              p Form

            //- md-list-item


          md-list(flex )
              md-list-item
                switch(position="bottom-left")

            //- md-subheader Done?
            //- md-list-item
            //-   md-button.md-raised.md-primary(ng-click="logout()", flex="grow") Logout

      md-content#appContent.md-padding.md-hue-2(layout='row' flex style="overflow-y: auto;")
        //- p {{userSession |json}} //- uncomment to see user sessoin data

        //- //This should be ng-view
        ng-view(flex)

      md-sidenav.md-sidenav-right.md-whiteframe-24dp(md-component-id='notif', style="width:400px; max-width:none; height:100%;" )
        div(layout='column')
          md-content(layout-padding)
            md-tabs.md-dynamic-height(md-selected='notifSelected')
              md-tab(layout='column')
                md-tab-label
                  md-icon.mdi.mdi-account-plus
                md-tab-body
                  h5.md-title New Employees
                  md-divider
                  md-list
                    md-list-item(ng-repeat='new in newEmployeeNotif' layout='row' ng-click='toAddTeam(new.sender,new.id)')

                      img.img-circle(src='{{new.sender.photo}}' style='width:50px;height:auto;padding:5px' flex='20')
                      div(flex='50')
                        h5 {{new.sender.firstname + " " + new.sender.lastname}}
                        h5 {{new.sender.email}}
                        //- h5 {{new.sender.id}}
                      md-divider
              md-tab
                md-tab-label
                  md-icon.mdi.mdi-calendar-plus
                md-tab-body
                  h5.md-title New Member Evaluation Request
                  md-divider
                  md-list
                    md-list-item(ng-repeat='new in newRequestNotif' layout='row' )

                      h5 {{new.teamName}}
                      md-button(ng-click="toConfirmRequest(new,'active')") ok
                      md-button(ng-click="toConfirmRequest(new,'cancelled')") cancel

              md-tab
                md-tab-label
                  md-icon.mdi.mdi-message
                md-tab-body
                  p three





    // TEMPLATES
    script(type="text/javascript", src="/templates/jst_hr.js")
    // TEMPLATES END


    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    script(src="/js/dependencies/angular.min.js")
    script(src="/js/dependencies/angular-animate.min.js")
    script(src="/js/dependencies/angular-aria.min.js")
    script(src="/js/dependencies/angular-cache.js")
    script(src="/js/dependencies/angular-material.js")
    script(src="/js/dependencies/angular-resource.js")
    script(src="/js/dependencies/angular-route.js")
    script(src="/js/dependencies/angular-sails.min.js")
    script(src="/js/dependencies/angular-ui-router.js")
    script(src="/js/dependencies/lodash.js")
    script(src="/js/hr/app.js")
    script(src="/js/global.js")
    script(src="/js/hr/ScheduleService.js")
    script(src="/js/hr/TeamService.js")
    script(src="/js/hr/employee/employeeCtrl.js")
    script(src="/js/hr/form/formCtrl.js")
    script(src="/js/hr/schedule/scheduleCtrl.js")
    script(src="/js/hr/team/teamCtrl.js")
    script(src="/js/common/AppService.js")
    script(src="/js/common/NotificationService.js")
    script(src="/js/common/ScheduleService.js")
    script(src="/js/common/cache.js")
    script(src="/js/common/showAlert/showAlertDirv.js")
    script(src="/js/common/switchView/SwitchViewDir.js")
    // SCRIPTS END
