md-dialog(ng-cloak='' id='evalDialog')
  form
    md-toolbar
      .md-toolbar-tools
        h2 Supervisor Evaluation
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()')
          md-icon.mdi.mdi-calendar-plus
    md-dialog-content(flex)
      .md-dialog-content
        h2 {{teamName}} Members
        //- md-content.form-window.md-hue-2.kra-form(flex, style="overflow:hidden;width:800px;" ng-repeat="kra in form.kras")
        //-   md-card.team-window(ng-hide="editForm", flex, , class="kra-card")

        //-     md-toolbar.md-tall.md-hue-2(layout='row')
        //-       .md-toolbar-tools( flex="70", layout="column", layout-align="start start")
        //-         h1() {{kra.name}}
        //-         .md-caption {{kra.description}}

        //-       span(flex)

        //-       .md-toolbar-tools.md-toolbar-tools-bottom(flex="25")
        //-         h1() {{kra.weight}}
        //-         .md-caption KRA Score
        //-     md-toolbar.md-hue-2(layout='row')
        //-       .md-toolbar-tools
        //-         .md-caption( flex="20", ) KPI
        //-         .md-caption( flex="40", ) Description
        //-         .md-caption( flex="10", ) Reverse
        //-         .md-caption( flex="10", ) Goal
        //-         .md-caption( flex="10", ) Weight
        //-         .md-caption( flex="10", ) Score

        //-     md-card-content
        //-       md-list
        //-         md-list-item(ng-repeat="kpi in kra.kpis", layout-align="start start")
        //-           .md-caption(flex="20") {{kpi.name}}
        //-           .md-caption(flex="40") {{kpi.description}}
        //-           .md-caption(flex="10", style="text-align:center") {{kpi.reverse? "Yes":"No"}}
        //-           .md-caption(flex="10", style="text-align:center") {{kpi.goal}}
        //-           .md-caption(flex="10", style="text-align:center") {{kpi.weight}}
        //-           //- .md-caption(flex="10", style="text-align:center") {{kpi.goal}}
        //-           md-input-container
        //-             input(type="number" step="any" name="rate" ng-model="kpi.score" min="0" max="kpi.goal")
        //-           md-divider
        //-   md-button.md-fab.md-raised.md-primary(ng-click='submitEvaluation(form.kras,evaluationId)')
        //-         md-icon.mdi.mdi-content-save-all

    //-     md-divider
    //-     md-list
    //-       div(flex='50', ng-repeat='member in teammembers')
    //-         md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-click='toggle(member.accountId.id, newSched.selected)' ng-hide='member.accountId.id==member.teamId.supervisor' ng-if='accountType=="employee"')
    //-           | {{ member.accountId.firstname +" "+ member.accountId.lastname}}
    //-         md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-hide='member.accountId.id==member.teamId.supervisor' ng-if='accountType=="hr"')
              | {{ member.accountId.firstname +" "+ member.accountId.lastname}}
              //- p {{member}}
              //- p {{member.accountId.id + " " + newSched.selected}}

