

.table-cozy{

	md-list-item{
		padding: 0 16px;
		border-bottom: 1px solid rgba(0,0,0,0.12);

		div{
			md-content{
				button{
					min-width: 72px;
			    min-height: 5px;
			    line-height: 30px;
			    font-size: 14px;
				}
			}
		}

	}
}

