div
  div(layout='row' flex)
    div(flex='75')
      md-card(style="height:800px;")
        md-table-container
          table(md-table='' md-progress='promise')
            thead(md-head='' md-order="sortEmployees")
              tr(md-row='')
                th(md-column='')
                  span Photo
                th(md-column='', md-order-by='lastname')
                  span Last Name
                th(md-column='', md-order-by='firstname')
                  span First Name
                th(md-column='', md-order-by='email')
                  span Email Address

            tbody(md-body='')
              tr(md-row='',ng-repeat='e in employees | orderBy: sortEmployees')

                td(md-cell='')
                  img(src='{{e.photo}}' style='height:50px;width:50px;padding:1px;border-radius: 48px;')
                td(md-cell='') {{e.lastname}}
                td(md-cell='') {{e.firstname}}
                td(md-cell='') {{e.email}}

              tr(md-row ng-show='!employees.length')
                td(md-cell) No Evaluation Found



