div
  .md-whiteframe-z2(layout-padding)
    md-input-container
      //- label SEARCH
      md-icon.mdi.mdi-magnify(style='color:#0288d1')
      input(type='text' ng-model='search' placeholder='Search Schedule')

    .table-responsive
      table.table.table-striped()
        thead
          tr
            th( ) Evaluation Date
            th( ) Team
            th( ) Type
            th( ) Notes
            th( ) Status
            th( ) Completed
            th( ) Rating
            th( ) Action


        tbody
          tr(ng-repeat='sched in activeSchedules | filter:search' ng-click='sample()')
            td {{sched.date}}
            td {{sched.teamId.name}}
            td {{sched.type}}
            td {{sched.notes}}
            td {{sched.evaluationCount + '/'+ sched.evaluationLimit}}
            td {{sched.done? "complete":"incomplete"}}
            td {{sched.rating}}


  md-button.md-fab.md-hue-3(aria-label='Eat cake', style="right: 25px;position: fixed;bottom: 30px;" ng-click='toSchedule()')
    i.mdi.mdi-24px.mdi-plus


  md-sidenav.md-sidenav-right(md-component-id='right', style="width:400px; max-width:none; height:100%;")
    div(layout='column')
      md-content(layout-padding)
        h1.md-display-1 Supervisor Evaluation

        md-datepicker(ng-model='newSched.date', md-placeholder='Enter Date' type='string')
        md-input-container
          label Notes
          input(type='text' ng-model='newSched.notes')
        md-select(ng-model='newSched.team' placeholder='Select Team')
          md-option(ng-value='{id: team.id, name:team.name}' ng-repeat='team in teams') {{team.name}}
        //- {{teams}}
        md-button.md-primary(ng-click='submitSchedule(newSched)' ) Submit

