md-dialog(ng-cloak='' )
  form
    md-toolbar
      .md-toolbar-tools
        h2 Employee Evaluation Scheduler
        span(flex='')
        md-button.md-icon-button(ng-click='cancel()')
          md-icon.mdi.mdi-calendar-plus
    md-dialog-content
      .md-dialog-content
        h2 {{teamName}} Members
        md-divider
        md-list
          div(ng-if='action!="edit"')
            div(flex='50', ng-repeat='member in teammembers')
              md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-click='toggle(member.accountId.id, newSched.selected)' ng-hide='member.accountId.id==member.teamId.supervisor' ng-if='accountType=="employee"')
                | {{ member.accountId.lastname +" "+ member.accountId.firstname}}
              md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-hide='member.accountId.id==member.teamId.supervisor' ng-if='accountType=="hr"')
                | {{ member.accountId.lastname +" "+ member.accountId.firstname}}
                //- p {{member}}
                //- p {{member.accountId.id + " " + newSched.selected}}
          div(ng-if='action=="edit"')
            h1 mmember
            div(ng-repeat='member in newSched.teamId.members')
              md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-click='toggle(member.accountId.id, newSched.selected)' ng-if='!(member.accountId.id===newSched.teamId.supervisor.id)') {{ member.accountId.lastname +" "+ member.accountId.firstname}}
        md-datepicker.md-primary(ng-model='newSched.date', md-placeholder='Enter Date' type='string' ng-disabled='accountType=="hr"') {{newSched.date}}

        md-input-container
          label Notes
          input(type='text' ng-model='newSched.notes' ng-disabled='accountType=="hr"')

        md-button.md-raised.md-primary(ng-click='submit(newSched)' ng-disabled='!(newSched.selected.length && newSched.notes && newSched.date)' ng-if="accountType=='employee'") Submit
        md-button.md-raised.md-warn(ng-click='cancel()' ng-if="accountType=='employee'") Cancel

        md-button.md-raised.md-primary(ng-click='toConfirmRequest("active")' ng-if="accountType=='hr'") Approve
        md-button.md-raised.md-warn(ng-click='toConfirmRequest("cancelled")' ng-if="accountType=='hr'") Deny

