md-dialog(ng-cloak='' )
  form
    md-toolbar
      .md-toolbar-tools
        h2 Supervisor Evaluation Scheduler
        span(flex='')
        md-button.md-icon-button(ng-click='hide()')
          md-icon.mdi.mdi-calendar-plus
    md-dialog-content
      .md-dialog-content
        md-datepicker(ng-model='newSched.date' placeholder='Enter Date') {{newSched.date}}
        md-select(ng-if='action!="edit"' ng-model='newSched.team' placeholder='Select Team')
          md-option(ng-repeat='team in teams' ng-click='teamSelected(team)' ng-value='{id: team.id,name:team.name}') {{team.name}}
        md-select(ng-if='action=="edit"' ng-model='newSched.teamId.name' ng-disabled='true')
          md-option {{newSched.teamId.name}}
        div(ng-show='supervisor' ng-if='action!="edit"')
          .md-headline Evaluation for: {{supervisor.firstname +" "+ supervisor.lastname}}
          md-divider
          .md-title Choose an Evaluator:
          md-divider
          md-list
          md-list(ng-repeat='member in teammembers')
            md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-click='toggle(member.accountId.id, newSched.selected)' ng-if='!(member.accountId.id===supervisor.id)') {{member.accountId.lastname + ' ' + member.accountId.firstname}}
            //- md-checkbox(ng-show='member.accountId.id===supervisor.id' ng-disabled='true') {{member.accountId.lastname + ' ' + member.accountId.firstname}}
          md-input-container
            label Notes
            input(type='text', ng-model='newSched.notes')
        div(ng-if='action=="edit"')
          .md-title Evaluation for: {{newSched.teamId.supervisor.lastname+" "+newSched.teamId.supervisor.firstname}}
          md-divider
          .md-subhead Choose an Evaluator:
          md-divider
          md-list
          md-list(ng-repeat='member in newSched.teamId.members')
            md-checkbox(ng-checked='exists(member.accountId.id, newSched.selected)', ng-click='toggle(member.accountId.id, newSched.selected)' ng-if='!(member.accountId.id===newSched.teamId.supervisor.id)') {{member.accountId.lastname + ' ' + member.accountId.firstname}}
            //- md-checkbox

          md-input-container
            label Notes
            input(type='text', ng-model='newSched.notes')




        md-button.md-raised.md-primary(ng-click='submit(newSched)' ng-disabled='!(newSched.selected.length && newSched.notes && newSched.date)' ng-if='action!="edit"') Submit
        //- md-button.md-raised.md-warn(ng-click='editFinish(newSched)' ng-if='action=="edit"' ng-disabled='!(newSched.selected.length && changeCount)') Save
        md-button.md-raised.md-warn(ng-click='editFinish(newSched)' ng-if='action=="edit"' ng-disabled='!((oldSched.selected.sort().toString()!=newSched.selected.sort().toString() || oldSched.date!=newSched.date.toString() || oldSched.notes!=newSched.notes) && newSched.selected.length)') Save
        md-button.md-raised.md-accent(ng-click='hide()') Cancel





