md-dialog(ng-cloak='' )
  md-toolbar
    .md-toolbar-tools
      h2 KRA Form
      span(flex='')
      md-button.md-icon-button(ng-click='cancel()')
        md-icon.mdi.mdi-calendar-plus
  md-dialog-content(style='min-width:800px;max-width:800px')
    md-content

      md-toolbar
        .md-toolbar-tools
          h5(flex) KPI
          h5(flex) Description
          h5(flex) Goal
          h5(flex) Weight


      md-list-item(ng-repeat='k in kra' layout='row')
        div(flex='20')
          span(editable-text="k.kpi" e-name="kpi" e-form="rowform") {{ k.kpi || 'empty' }}
        div(flex='20')
          span(editable-text="k.description" e-name="description" e-form="rowform" style='word-wrap: break-word;') {{ k.description || 'empty' }}
        div(flex='20' layout-align='center center')
          span(editable-text="k.goal" e-name="goal" e-form="rowform") {{ k.goal || 'empty' }}
        div(flex='20' layout-align='center')
          span(editable-text="k.weight" e-name="weight" e-form="rowform") {{ k.weight || 'empty' }}
        div(flex='20' ng-show='!rowform.$visible' layout='row')
          md-button.md-raised.md-primary(ng-click='rowform.$show()') edit
          //- md-button.md-raised.md-accent(ng-click="removeUser($index)") del


        form.form-buttons.form-inline(editable-form='', name='rowform', onbeforesave='saveUser($data, k.id)', ng-show='rowform.$visible', shown='inserted == k')
          md-button.md-raised.md-primary(type='submit', ng-disabled='rowform.$waiting')
            | S
          md-button.md-raised.md-accent(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()')
            | C
            md-divider

      h5 {{kra}} {{kra.length}}

      md-button.md-raised.md-primary(ng-click="addUser()") Add user


        //- md-tab(label="two")
        //-   md-content(class="md-padding")
        //-     h1(class="md-display-2") Tab Two
        //-     p 123233333333333333

    //- .md-dialog-content
      //- md-content(flex, style="overflow:hidden;width:800px;")


