md-content(layout="column", flex)

  md-content.md-hue-2(layout-gt-lg="row")
    md-content.md-hue-2(flex-gt-lg="40")
      md-card(flex)
        md-toolbar
          md-toolbar-tools.md-padding
            h2.md-title
              md-icon(md-svg-icon="account-multiple", style="margin-right:10px")
              | Teams
        md-divider
        md-list(style="max-height: 70%;overflow: auto;")
          md-list-item(ng-repeat="team in myteams" ng-click='selectedTeam(team)')
            p {{team.teamId.name}}
            md-icon.md-primary(ng-show='{{team.teamId.supervisor===team.accountId}}')
              i.mdi.mdi-account-star-variant
            md-divider

    md-content.md-hue-2(flex, )
      md-card.team-window(ng-show='teamName' , id="member-tab")
        md-toolbar(layout='row')
          .md-toolbar-tools
            md-button.md-icon-button( aria-label="Open Sidenav")
              md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
            h1 {{teamName}}
            span(flex)
            md-button.md-icon-button( aria-label="Close Team Window", ng-click="closeTeam()")
              md-icon(md-svg-icon="close", style="'font-size':36px;")
        md-tabs.md-primary( md-dynamic-height='', md-no-ink='',  md-stretch-tabs='', md-border-bottom='', )
          md-tab.summary(label='summary')
            md-content.md-padding(layout="row" layout-wrap layout-align="center center")
              md-content(flex="30" )
                .md-display-3 {{selectedTeam.members.length}}
                h4 Members
              md-content(flex="30")
                .md-display-3 {{selectedTeam.latestScore | number : 2}}
                h4 Team Score
              md-content(flex="30")
                .md-display-3 {{selectedTeam.average | number : 2}}
                h4 Average
          md-tab(label='members')
            md-table-container
              table(md-table='' md-progress='promise')
                thead(md-head='' md-order="sort")
                  tr(md-row='')
                    th(md-column='')
                      span Photo
                    th(md-column='', md-order-by='accountId.lastname')
                      span Last Name
                    th(md-column='', md-order-by='accountId.firstname')
                      span First Name
                    th(md-column='', md-order-by='accountId.createdAt')
                      span Membership Date

                tbody(md-body='')
                  tr(md-row='',ng-repeat='member in selectedTeam.teammembers | orderBy: sort')

                    td(md-cell='')
                      img.img-circle(ng-src='{{member.accountId.photo}}' style='height:50px;width:50px')
                    td(md-cell='')
                      span {{member.accountId.lastname}}
                    td(md-cell='')
                      span {{member.accountId.firstname}}
                    td(md-cell='')
                      span {{member.createdAt | date}}

          md-tab(label='schedules')
            md-table-container
              table(md-table='' md-progress='promise')
                thead(md-head='' md-order="sortScheds")
                  tr(md-row='')
                    th(md-column='', md-order-by='sched.date')
                      span Date
                    th(md-column='', md-order-by='sched.notes')
                      span Notes
                    th(md-column='', md-order-by='sched.type')
                      span Type
                    th(md-column='', md-order-by='sched.rating')
                      span Rating
                    th(md-column='', md-order-by='sched.status')
                      span Status
                    th(md-column='')
                      span Action
                tbody(md-body='')
                  tr(md-row='',ng-repeat='sched in selectedTeam.teamSchedules | orderBy: sortScheds')

                    td(md-cell='') {{sched.date | date}}
                    td(md-cell='') {{sched.notes}}
                    td(md-cell='') {{sched.type}}
                    td(md-cell='') {{sched.rating}}
                    td(md-cell='') {{sched.status}}
                    td(md-cell='')
                      md-button(ng-click='deleteSched($index,sched.id)' ng-show='(sched.status=="pending" || sched.status=="cancelled")')
                        md-icon.mdi.mdi-delete
                  tr(md-row ng-show='!selectedTeam.teamSchedules.length')
                    td(md-cell) No Evaluation Found
              md-button.md-fab.md-primary.md-raised(ng-click='memberEvaluationRequest($event)', flex='100', flex-gt-md='auto' style='position:absolute; right:15px;top:20px' ng-show='enableToSchedule')
                md-icon.mdi.mdi-calendar-plus

          md-tab(label='structure')
            md-content.md-padding
              h1.md-display-2 Structure
              p
                | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
          md-tab(label='settings')
            md-content.md-padding()
              h3.md-display-1 Team Info
              form(name="updateTeamForm")
                md-input-container
                  label Team Name
                  input(ng-model="updatedTeam.name", required, md-maxlength="35", ng-change="showUpdateButton=true")
                md-input-container(ng-init="")
                  label Parent
                  md-select(ng-model="updatedTeam.parent", , ng-change="showUpdateButton=true")
                    md-option(ng-repeat="team in teams track by $index" value="{{team.id}}") {{team.name}}
                md-button.md-raised.md-primary(ng-click="updateTeam()" ng-disabled="!showUpdateButton") Save



              h3.md-display-1 Delete Team
              .md-caption Deleting this team will remove all evaluation records of the members. Forever... Are you sure you want to continue?
              md-button.md-raised.md-warn(ng-click="button1=true" ng-disabled="button1") {{(button1)? "are you sure?":"Yes"}}
              md-button.md-raised.md-warn(ng-show="button1" ng-click="button2=true"   ng-disabled="button2") {{(button2)? "Really?":"I'm Sure"}}
              md-button.md-raised.md-warn(ng-show="button2" ng-click="button1 = button2 = false ;test()") DELETE TEAM

          md-tab(label='form')
            md-content(style='padding-top:10px')
              form(name="kraForm" )
                md-content.form-window.kra-form(flex, style="overflow:hidden;" ng-repeat="kra in form.kras")
                  

                  //- VIEW CARD
                  md-card.team-window(ng-hide="editForm", flex, , class="kra-card")
                    
                    md-toolbar.md-tall.md-hue-2(layout='row')
                      .md-toolbar-tools( flex="70", layout="column", layout-align="start start")
                        h1() {{kra.name}}
                        .md-caption {{kra.description}}

                      span(flex)

                      .md-toolbar-tools.md-toolbar-tools-bottom(flex="25")
                        h1() {{kra.weight}}
                        .md-caption KRA Score
                    md-toolbar.md-hue-2(layout='row')
                      .md-toolbar-tools
                        .md-caption( flex="20", ) KPI
                        .md-caption( flex="40", ) Description
                        .md-caption( flex="10", ) Reverse
                        .md-caption( flex="10", ) Goal
                        .md-caption( flex="10", ) Weight
                        .md-caption( flex="10", ) Score
                      
                    md-card-content
                      md-list
                        md-list-item(ng-repeat="kpi in kra.kpis", layout-align="start start")
                          .md-caption(flex="20") {{kpi.name}} 
                          .md-caption(flex="40") {{kpi.description}}
                          .md-caption(flex="10", style="text-align:center") {{kpi.reverse? "Yes":"No"}}
                          .md-caption(flex="10", style="text-align:center") {{kpi.goal}}
                          .md-caption(flex="10", style="text-align:center") {{kpi.weight}}
                          .md-caption(flex="10", style="text-align:center") {{kpi.goal}}
                          md-divider

                  //- EDIT CARD
                  md-card.team-window(ng-show="editForm", flex, , class="kra-card")
                    
                    md-toolbar.md-tall.md-hue-2(flex-order="1", layout='row')
                      .md-toolbar-tools( flex="70", layout="column", layout-align="start start")
                        md-input-container(md-no-float)
                          input(required ng-model="kra.name", placeholder="Title")
                        md-input-container(md-no-float, )
                          textarea(required, ng-model="kra.description", md-detect-hidden, placeholder="Description")

                      span(flex)

                      .md-toolbar-tools.md-toolbar-tools-bottom(flex="25")
                        md-input-container()
                          input(type="number" step="any" name="rate" ng-model="kra.weight" min="0"
                               max="100")
                        .md-caption KRA Score
                    md-toolbar.md-hue-2(flex-order="2", layout='row')
                      .md-toolbar-tools
                        .md-caption( flex="20", ) KPI
                        .md-caption( flex="40", ) Description
                        .md-caption( flex="10", ) Reverse
                        .md-caption( flex="10", ) Goal
                        .md-caption( flex="10", ) Weight
                        .md-caption( flex="10", ) 
                    
                    md-toolbar.md-hue-3(flex-order="0", style="min-height:0", layout="row")
                      p(style="font-size: 12px;margin: 0;padding: 0px 20px;margin:auto;opacity: 0.7;font-style: italic") Form is now Editable
                      span(flex)
                      md-button.md-icon-button(ng-click="deleteKRA($index)") 
                        i.mdi.mdi-12px.mdi-close()

                    md-button.md-fab.md-hue-2( aria-label='Done' ng-click="addKPI(kra)", nd-disabled, style="position: absolute;right: 20px;top: 200px;")
                      i.mdi.mdi-24px.mdi-plus()

                    md-card-content(flex-order="3")
                     
                      md-list.editable(ng-show="editForm")
                        div(ng-repeat="kpi in kra.kpis", layout-align="start start")
                          md-input-container.md-block(md-no-float, flex="20")
                            input(required, ng-model="kpi.name",  md-detect-hidden, placeholder="Title") 
                          md-input-container.md-block(md-no-float, flex="40")
                            textarea(required, ng-model="kpi.description",  md-detect-hidden, placeholder="Description")
                          md-input-container(flex="10",) 
                            md-checkbox( ng-model="kpi.reverse" aria-label="reverse") 
                          md-input-container(flex="10", style="text-align:center")
                            input(type="number" step="any" name="rate" ng-model="kpi.goal" min="0" max="100")
                          md-input-container(flex="10", style="text-align:center")
                            input(type="number" step="any" name="rate" ng-model="kpi.weight" min="0" max="100") 
                          .md-caption(flex="10", style="text-align:center")
                            md-button.md-exclude.md-icon-button(ng-click="deleteKPI($event, kra, $index)")
                              i.mdi.mdi-delete

            .md-toolbar-tools
              md-button.md-raised.md-primary( aria-label="Edit form", ng-click="editForm=!editForm") EDIT 
