md-tabs-canvas {
	background-color: #0288d1;
	color: white;
}
.md-datepicker-calendar-pane {
  background-color: #0288d1;
  color: white;

  th,td,span{
    color: white;
  }

}
md-content {
	min-height: 150px
}

md-tab-item.md-tab.md-active md-ink-bar, md-ink-bar.md-left, md-ink-bar.md-right{
  background-color: #0D47A1;
}

td.md-cell {
  height: 60px;
}

