md-tabs-canvas {
	background-color: #0288d1;
	color: white;
}
.md-datepicker-calendar-pane {
  background-color: #0288d1;
  color: white;

  th,td,span{
    color: white;
  }

}
md-content {
	min-height: 150px
}
