md-content(layout="column", flex)

  md-content.md-hue-2(layout-gt-lg="row")
    md-content.md-hue-2(flex-gt-lg="40")
      md-card(flex)
        md-toolbar.md-hue-2
          md-toolbar-tools.md-padding
            h2.md-title
              md-icon(md-svg-icon="account-multiple", style="margin-right:10px")
              | Teams
        md-divider
        md-list(style="max-height: 70%;overflow: auto;")
          md-list-item(ng-repeat="team in myteams" ng-click='selectedTeam(team)')
            p {{team.teamId.name}}
            md-icon.md-primary(ng-show='{{team.teamId.supervisor===team.accountId}}')
              i.mdi.mdi-account-star-variant
            md-divider

    md-content.md-hue-2(flex, )
      md-card.team-window(ng-show='teamName' , id="member-tab")
        md-toolbar.md-hue-2(layout='row')
          .md-toolbar-tools
            md-button.md-icon-button( aria-label="Open Sidenav")
              md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
            h1 {{teamName}}
            span(flex)
            md-button.md-icon-button( aria-label="Close Team Window", ng-click="closeTeam()")
              md-icon(md-svg-icon="close", style="'font-size':36px;")
        md-tabs.md-primary( md-dynamic-height='', md-no-ink='',  md-stretch-tabs='', md-border-bottom='')
          md-tab.summary(label='summary')
            md-content.md-padding(layout="row" layout-wrap layout-align="center center")
              md-content(flex="30" )
                .md-display-3 {{selectedTeam.members.length}}
                h4 Members
              md-content(flex="30")
                .md-display-3 {{selectedTeam.latestScore | number : 2}}
                h4 Team Score
              md-content(flex="30")
                .md-display-3 {{selectedTeam.average | number : 2}}
                h4 Average
          md-tab(label='members')
            md-table-container
              table(md-table='' md-progress='promise')
                thead(md-head='' md-order="sort")
                  tr(md-row='')
                    th(md-column='')
                      span Photo
                    th(md-column='', md-order-by='accountId.lastname')
                      span Last Name
                    th(md-column='', md-order-by='accountId.firstname')
                      span First Name
                    th(md-column='', md-order-by='accountId.createdAt')
                      span Membership Date

                tbody(md-body='')
                  tr(md-row='',ng-repeat='member in selectedTeam.teammembers | orderBy: sort')

                    td(md-cell='')
                      img.img-circle(ng-src='{{member.accountId.photo}}' style='height:50px;width:50px')
                    td(md-cell='')
                      span {{member.accountId.lastname}}
                    td(md-cell='')
                      span {{member.accountId.firstname}}
                    td(md-cell='')
                      span {{member.createdAt | date}}

          md-tab(label='schedules')
            md-table-container
              table(md-table='' md-progress='promise')
                thead(md-head='' md-order="sortScheds")
                  tr(md-row='')
                    th(md-column='', md-order-by='sched.date')
                      span Date
                    th(md-column='', md-order-by='sched.notes')
                      span Notes
                    th(md-column='', md-order-by='sched.type')
                      span Type
                    th(md-column='', md-order-by='sched.rating')
                      span Rating
                    th(md-column='', md-order-by='sched.status')
                      span Status
                    th(md-column='')
                      span Action
                tbody(md-body='')
                  tr(md-row='',ng-repeat='sched in selectedTeam.teamSchedules | orderBy: sortScheds | filter:{type:filterByType}' ng-click='toEvaluateSupervisor($event)')

                    td(md-cell='') {{sched.date | date}}
                    td(md-cell='') {{sched.notes}}
                    td(md-cell='') {{sched.type}}
                    td(md-cell='') {{sched.rating}}
                    td(md-cell='') {{sched.status}}
                    td(md-cell='')
                      md-button(ng-click='showConfirm($event,$index,sched.id)' ng-show='(sched.status=="pending" || sched.status=="cancelled")')
                        md-icon.mdi.mdi-delete
                  tr(md-row ng-show='!selectedTeam.teamSchedules.length')
                    td(md-cell) No Evaluation Found
              md-button.md-fab.md-primary.md-raised(ng-click='memberEvaluationRequest($event)', flex='100', flex-gt-md='auto' style='position:absolute; right:15px;top:20px' ng-show='enableToSchedule')
                md-icon.mdi.mdi-calendar-plus

          md-tab(label='structure')
            md-content.md-padding
              h1.md-display-2 Structure
              p
                | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
