body{
	overflow: hidden !important;

	.sidenav-header{
		background-color: rgb(2,136,209);
		color:white;


	}

}
// 	md-menu-content{
// 		md-menu-item{
// 			button{
// 				i{
// 					font-size: 24px !important;
// 				    vertical-align: middle !important;
// 				    line-height: 36px !important;
// 				    margin-right: 15px !important;
// 				}
// 			}
// 		}
// 	}

// }
// // md-menu-content > md-menu-item > button > i{
// // 	font-size: 24px !important;
// //     vertical-align: middle !important;
// //     line-height: 36px !important;
// //     margin-right: 15px !important;
// // }
