$green: #98cb4a;
$red: #f15f74;
$orange: #f76d3c;

#alert-holder {
  position: fixed;
  width: 0px;
  height: 0px;
  left: 0px;
  top: 0px;
  z-index: 999999;
  ul {
    position: fixed;
    list-style: none;
    padding: 0px;
    margin: 10px;
    width: 300px;
    height: auto;
    &.top-left {
      top: 50px;
      left: 50px;
    }
    &.top-right {
      top: 50px;
      right: 50px;
    }
    &.bottom-left {
      bottom: 50px;
      left: 50px;
    }
    &.bottom-right {
      bottom: 50px;
      right: 50px;
    }
    &.center {
      left: 50%;
      top: 200px;
      margin-left: -150px;
    }
    li {
      width: 100%;
      padding: 10px;
      border-radius: 10px;
      background: #666666;
      margin: 10px 0px;
      color: white;
      height: auto;
      border: white 4px solid;
      box-shadow: rgba(0, 0, 0, 0.4) 5px 5px 8px;
      font-size: 1em !important;
      &.good {
        background: $green;
      }
      &.bad {
        background: $red;
      }
      &.action {
        background: $orange;
      }
      header {
        position: relative;
        text-align: center;
        border-bottom: 1px solid white;
        line-height: 30px;
        height: auto;
        font-weight: bold;
        font-size: 1.4em !important;
      }
      p {
        position: relative;
        margin-top: 20px;
        line-height: 20px;
        height: auto;
        font-size: 1.2em !important;
        color: white;
      }
    }
  }
}
