md-content(layout="column", flex)

  md-content.md-hue-2(layout-gt-lg="row")
    md-content.md-hue-2(flex-gt-lg="40")
      md-card(flex)
        md-card-content
          md-input-container.md-block(md-no-float='', style="padding-bottom:0")
            md-icon
              i.mdi.mdi-36px.mdi-magnify
            input( type='text', placeholder='Search Team',ng-model="teamSearch")

      md-card(flex)
        md-card-content(style="position:relative")


          h2.md-title
            md-icon(md-svg-icon="account-multiple", style="margin-right:10px")
            | Teams

          md-button.md-fab.md-primary(aria-label='Add team',style="position: absolute;right: 33px;top: 53px;", ng-click="addTeam()")
            md-icon(md-svg-icon="plus")


        md-divider


        md-list(style="max-height: 70%;overflow: auto;")
          md-list-item(ng-repeat="team in teamlist = (teams | filter:teamSearch) track by $index", ng-click="selectTeam(team)")
            p {{team.name}}

            md-divider


    md-content.md-hue-2(flex, style="overflow:hidden;" )
      md-card.team-window(ng-show="selectedTeam", flex, , id="member-tab")
        md-toolbar(layout='row')
          .md-toolbar-tools
            md-button.md-icon-button( aria-label="Open Sidenav")
              md-icon(aria-label='Menu', md-svg-icon='https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg')
            h1 {{selectedTeam.name}}
            span(flex)
            md-button.md-icon-button( aria-label="Close Team Window", ng-click="closeTeam()")
              md-icon(md-svg-icon="close", style="'font-size':36px;")
        md-tabs.md-primary( md-no-ink='',  md-stretch-tabs='', md-border-bottom='', )
          md-tab.summary(label='summary')
            md-content.md-padding(layout="row" layout-wrap layout-align="center center")
              md-content(flex="30" )
                .md-display-3 {{selectedTeam.members.length}}
                h4 Members
              md-content(flex="30")
                .md-display-3 {{selectedTeam.latestScore | number : 2}}
                h4 Team Score
              md-content(flex="30")
                .md-display-3 {{selectedTeam.average | number : 2}}
                h4 Average
          md-tab(label='members')
            md-content.md-padding

              md-list()

                //- md-list-item(ng-repeat="member in memberlist = (selectedTeam.members)")
                //-   p {{member.firstname}}  {{member.lastname}}

                div(ng-repeat="member in memberlist = (selectedTeam.members)")
                  p(style="margin:auto") {{member.firstname}}  {{member.lastname}}

                  span(flex)
                  //- md-chips(style="box-shadow:0;")
                  //-   md-chip {{member.fistname.length/3 + 5 | number : 2}}
                  md-button.md-icon-button(aria-label="Promote this ****" ng-click="promote(member)" md-tooltip="set as supervisor")
                    i.mdi(class="{{(member.id == selectedTeam.supervisor)? 'mdi-star':'mdi-star-outline'}}", style="color:#FBB546")
                md-list-item(ng-hide="memberlist.length")
                  p No members yet.
            span(flex)
            md-content(layout="row" layout-padding)
              span(flex)
              md-button.md-raised.md-warn(ng-click="test()", aria-label="Add memeber", md-ripple-size="full") Remove Members
              md-button.md-raised.md-primary(ng-click="showMemberBottomSheet()", aria-label="Add memeber", md-ripple-size="full") Add Member
          md-tab(label='schedules')
            md-content.md-padding
              h1.md-display-2 Schedules
              p
                | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
          md-tab(label='structure')
            md-content.md-padding
              h1.md-display-2 Structure
              p
                | Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.
          md-tab(label='settings')
            md-content.md-padding()
              h3.md-display-1 Team Info
              form(name="updateTeamForm")
                md-input-container
                  label Team Name
                  input(ng-model="updatedTeam.name", required, md-maxlength="35", ng-change="showUpdateButton=true")
                md-input-container(ng-init="")
                  label Parent
                  md-select(ng-model="updatedTeam.parent", , ng-change="showUpdateButton=true")
                    md-option(ng-repeat="team in teams track by $index" value="{{team.id}}") {{team.name}}
                md-button.md-raised.md-primary(ng-click="updateTeam()" ng-disabled="!showUpdateButton") Save
              h3.md-display-1 Delete Team
              .md-caption Deleting this team will remove all evaluation records of the members. Forever... Are you sure you want to continue?
              md-button.md-raised.md-warn(ng-click="button1=true" ng-disabled="button1") {{(button1)? "are you sure?":"Yes"}}
              md-button.md-raised.md-warn(ng-show="button1" ng-click="button2=true"   ng-disabled="button2") {{(button2)? "Really?":"I'm Sure"}}
              md-button.md-raised.md-warn(ng-show="button2" ng-click="button1 = button2 = false ;test()") DELETE TEAM



         //- 2385820


//- md-button.md-fab.md-hue-3(aria-label='Eat cake', style="right: 25px;position: fixed;bottom: 30px;")
//-   i.mdi.mdi-24px.mdi-plus


